/* colors */
$white: #fff;
$black: #000;
$button: #424242;
$background: #778cc5;
$phone-case: #606065;
$input: #f8f9fa;
$input-border: #b3b3b3;
$error: #d32f2f;
$clear: #758ec6;
$button--normal: #758ec6;
