/* basic  */
$white: #fff;
$black: #000;
$grey: #616161;

/* theme  */
$background: #778cc5;
$basic: #fff;
$reverse: #303030;
$metal: #c8c8c8;
$dark: #555658;

/* situation  */
$error: #d32f2f;
$clear: #758ec6;
