@use "../abstracts/variables" as c;
@use "../abstracts/mixins" as mix;

.calculator-container {
  @include mix.box-style(350px, 520px, c.$body);
  @include mix.border(3px, solid, c.$metal, 5px);
  .calculator-head {
    @include mix.flex-container(100%, 25%, c.$background, $fjc: flex-end);
    @include mix.border(0);
    .screen-container {
      @include mix.flex-container(80%, 79%);
      @include mix.border(3px, solid, c.$metal, 5px);
      .screen--sub {
        @include mix.box-style(100%, 40%, c.$screen);
        @include mix.font-style(20px, normal, c.$grey);

        &.screen--small {
          @include mix.font-style(15px, normal, c.$grey);
          line-height: 95%;
          word-break: break-all;
        }
      }
      .screen--main {
        @include mix.box-style(100%, 60%, c.$screen);
        @include mix.font-style(40px, $fc: c.$dark);

        &.screen--small {
          font-size: 26px;
          line-height: 95%;
          word-break: break-all;
        }
      }
    }
  }
  .output-bottom {
    @include mix.box-style(100%, 8%, c.$background);
    @include mix.border-radius(0px, 0px, 100%, 100%);
  }

  .calculator-body {
    @include mix.box-style(100%, 67%, c.$body);
    @include mix.border(0);
    @include mix.flexbox();

    .button-container {
      @include mix.box-style(80%, 80%, c.$body);
      @include mix.gridbox-area(
        $gtr: 20% 20% 20% 20% 20%,
        $gtc: 25% 25% 25% 25%
      );

      & > button:nth-child(1) {
        background-color: c.$background;
      }
      & > button:nth-child(2) {
        background-color: c.$background;
      }
    }
  }
}
